[submodule "ScreenMonitor/external/screen_capture_lite"]
	path = ScreenMonitor/external/screen_capture_lite
	url = https://github.com/smasherprog/screen_capture_lite.git
[submodule "ScreenMonitor/external/opencv"]
	path = ScreenMonitor/external/opencv
	url = https://github.com/opencv/opencv.git
[submodule "ScreenMonitor/external/imgui"]
	path = ScreenMonitor/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ScreenMonitor/external/nlohmann_json"]
	path = ScreenMonitor/external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "ScreenMonitor/external/googletest"]
	path = ScreenMonitor/external/googletest
	url = https://github.com/google/googletest.git
